<p id="notice"><%= notice %></p>

<p>
  <strong>Message:</strong>
  <%= @response.message %>
</p>

<p>
  <strong>Tweet:</strong>
  <%= @response.tweet_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @response.user_id %>
</p>

<%= link_to 'Edit', edit_response_path(@response) %> |
<%= link_to 'Back', responses_path %>
