<h1>Your Twitter Feed</h1>
<p>Hello, <%= current_user.username %></p>
  <p>Here is what your friends are saying:</p>
  <div>
    <% @following_tweets.each do |f|%>
        <div class = "col-md-12">
          <div class = "panel panel-default">
            <div class = "panel-body">
              <div class = "row">
                <div class = "col-md-2">
                  <% if f.user.photo.blank? %>
                      <p><%= image_tag("Not_Available.jpg",height:100,width:150) %></p>
                  <% else %>
                      <p><%= image_tag f.user.photo, height:100,width:150%></p>
                  <% end %>
                </div>
                <div class = "col-md-10">
                  <h2><%= f.message %></h2>
                </div>
              </div>
              <p><strong><em><%= f.user.username %></em></strong></p>

            </div>
          </div>
        </div>
    <% end %>
  </div>